<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <h2 class="mb-4">Hello, Wellcome to BookClub</h2>
    <h4><a href="/users">Users Page</a></h4>
    <h4><a href="/books">Books Page</a></h4>
  </body>
</html>
